html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 16px;
}

h1 {
    color:brown;
}

a:link {
    color:darkorange;
}

a:visited {
    color:fuchsia;
}

a:hover {
    text-decoration: none;
}

h3 {
    color:chartreuse;
}

.ikkai {
    background-color: greenyellow ;
}