html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 16px;
}

h1 {
    color:rgb(255, 255, 255);
}

a:link {
    color:darkorange;
}

a:visited {
    color:fuchsia;
}

a:hover {
    text-decoration: none;
}

h3 {
    border: 2px solid rgb(38, 192, 46);
    padding: 5px;
    margin: 5px;
    width: 680px;
    height: 50px;
    background: rgb(86, 211, 93);
}

h1 {
    background-color:#e54800;
    height: 0.7em;
    padding: 1em;
}

h2 {
    background-color: rgb(204, 197, 197);
}

h4 {
    border: 2px solid rgb(255, 154, 2);
    padding: 5px;
    margin: 5px;
    width: 480px;
    height: 20px;
    background: rgb(241, 241, 4);
}