html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 16px;
    background-color: #e6faed;
}

h1 {
    color:rgb(255, 255, 255);
}

a:link {
    color:darkorange;
}

a:visited {
    color:fuchsia;
}

a:hover {
    text-decoration: none;
}

h3 {
    padding: 5px;
    margin: 5px;
    width: 680px;
    height: 50px;
    border: 1px solid; 
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #bbedce;
}

h1 {
    background-color:#e54800;
    height: 0.7em;
    padding: 1em;
}

h2 {
    background-color: #bbedce;
    width: 350px;
    border: 1px solid; 
    border-style: dotted;
    background-color: #c2f0d4;
}

h4 {
    border: 2px solid #dee1af;;
    padding: 5px;
    margin: 5px;
    width: 480px;
    height: 20px;
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #f5f6c8;
}

div.first {
    border: 5px dotted #36210c;
    padding: 5px;
    margin: 20px;
}
